#Task 9

In [ ]:
# Ask 2 numbers from users and store it in num1 and num2.

In [ ]:
num1 = 23.34
num2 = 34.56
sum = num1 + num2
print(sum)

57.900000000000006

In [ ]:
# Ask user to press 1 for addition 2 for substration 3 for multiplication and 4 for division.
# Based on number given by user do the math operation.

In [ ]:
def add(a,b):
 return a+b
def substract(a,b):
 return a-b
def multiply(a,b):
 return a*b
def division(a,b):
 return a/b
print("choose operator")
print("+")
print("-")
print("*")
print("/")
choice = input("enter operator to use")
a = (input("enter first number"))
b = (input("enter second number"))
if choice == "+":
 print(a,"+",b,"=",add(a,b))
elif choice == "-":
 print(a,"-",b,"=",substract(a,b))
elif choice == "*":
 print(a,"*",b,"=",multiply(a,b))
elif choice == "/":
  print(a,"/",b,"=",division(a,b))
else:
 print("wrong choice")

choose operator
+
-
*
/
enter operator to use+
enter first number100
enter second number50
100 + 50 = 10050

##Task 10.1

In [ ]:
#what is the usage of continue with an example.

Usage of continue : The continue keyword is used to end the current iteration in a for loop or while loop ,and continues to the next iteration .in the below example when i is 5 it will skip it and continue with next iteration.

In [ ]:
for i in range(9):
  if i == 3:
    continue
  print(i)

0
1
2
4
5
6
7
8

###Task 10.2

In [ ]:
# what is pass keyword, with example.

The pass statement is used as a placeholder for future code.When the pass statement is executed ,nothing happens,but you avoid getting an error when empty code is not allowed.Empty code is not allowed in loops,functions definitions,class definitions,or in if statements.

In [ ]:
for x in[0,1,2]:
  pass

###Task 10

In [ ]:
# using while loop print number from 10 to 1

In [ ]:
a = 10
while a > 0:
  print(a)
  a = a-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# using for loop over tuples,sets and dictionaries

In [ ]:
# tuples

In [ ]:
tup1 = (1,2,3,"benz","bently")
for x in tup1:
  print(x)

1
2
3
benz
bently

In [ ]:
tup2 = ("harliedevidson")
for a in tup2:
  print(a)

h
a
r
l
i
e
d
e
v
i
d
s
o
n

In [ ]:
#sets

In [ ]:
set1 = {1,2,3,4,5}
for p1 in set1:
  print(p1)

1
2
3
4
5

In [ ]:
set2 = {"mustang"}
for a1 in set2:
  print(a1)

mustang

In [ ]:
# dictionaries

In [ ]:
dict1 = {"game":"football","player":"ronaldo",}
for a3 in dict1.values():
  print(a3)

football
ronaldo

In [ ]:
dict2 = {"car":"dodge"}
for a4 in dict2.values():
  print(a4)

dodge